<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
          width: 100%;
          border-collapse: collapse;
        }
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
        th {
          background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<a href="http://localhost:8080">Acceder a sucursales</a>
<!-- Mostrar la lista de productos en una tabla -->
<table>
    <thead>
    <tr>
        <!--    <th>ID</th>-->
        <th>Nombre</th>
        <th>DNI</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Sucursales</th>
        <th>Cuentas</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${clientes}">
        <!--    <td th:text="${sucursal.id}"></td>-->
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.dni}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.telefono}"></td>
        <td th:text="${cliente.direccion}"></td>
        <td th:text="${cliente.sucursalId}"></td>
        <td>
            <p th:each="idCuenta : ${cliente.idCuentas}" th:text="${idCuenta}"> </p>
        </td>
        <td>
            <a th:href="@{clientes/} + @{cliente/} + ${cliente.id}">
                DETALLE
            </a>
            <form th:action="@{/clientes/} + ${cliente.id} + @{/delete}" method="post">
                <button type="submit">Eliminar</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

<h2>Agregar Nuevo Cliente</h2>
<form th:action="@{/clientes}" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>
    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" required>
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <br>
    <label for="telefono">Telefono:</label>
    <input type="text" id="telefono" name="telefono" required>
    <br>
    <label for="direccion">Direccion:</label>
    <input type="text" id="direccion" name="direccion" required>
    <br>
    <select id="sucursalId" name="sucursalId" required>
        <label>Elige tu sucursal</label>
        <option th:each="sucursal : ${sucursales}" th:value="${sucursal.id}" th:text="${sucursal.nombre}"></option>
    </select>
    <br>
    <label for="idCuentas">Cuentas:</label>
    <input type="text" id="idCuentas" name="idCuentas" required>
    <br>
    <button type="submit">Agregar Cliente</button>
</form>

</body>
</html>